USE [PROJECT_PRN]
GO
/****** Object:  Table [dbo].[LEVEL]    Script Date: 7/5/2021 8:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEVEL](
	[ID] [int] NULL,
	[LEVEL] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SCORE]    Script Date: 7/5/2021 8:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCORE](
	[TYPEID] [int] NULL,
	[LEVELID] [int] NULL,
	[SCOREBYCOUNT] [int] NULL,
	[SCOREBYTIME] [int] NULL,
	[SCORETYPE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE]    Script Date: 7/5/2021 8:12:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE](
	[ID] [int] NULL,
	[NAME] [varchar](10) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[LEVEL] ([ID], [LEVEL]) VALUES (3, N'3x3')
INSERT [dbo].[LEVEL] ([ID], [LEVEL]) VALUES (4, N'4x4')
INSERT [dbo].[LEVEL] ([ID], [LEVEL]) VALUES (5, N'5x5')
GO
INSERT [dbo].[SCORE] ([TYPEID], [LEVELID], [SCOREBYCOUNT], [SCOREBYTIME], [SCORETYPE]) VALUES (1, 3, 0, 0, N'Count')
INSERT [dbo].[SCORE] ([TYPEID], [LEVELID], [SCOREBYCOUNT], [SCOREBYTIME], [SCORETYPE]) VALUES (1, 4, 0, 0, N'Count')
INSERT [dbo].[SCORE] ([TYPEID], [LEVELID], [SCOREBYCOUNT], [SCOREBYTIME], [SCORETYPE]) VALUES (1, 5, 0, 0, N'Count')
GO
INSERT [dbo].[TYPE] ([ID], [NAME]) VALUES (1, N'classic')
INSERT [dbo].[TYPE] ([ID], [NAME]) VALUES (2, N'image')
GO
