<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PuzzelGame.Properties.Settings.PROJECT_PRNConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=PROJECT_PRN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>